@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* tamaño igual para las img en las cards */
.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}
/* smooth scroll básico */
html{
  scroll-behavior: smooth;
}

html body{
  background-color: #000;
  font-family:'Raleway', sans-serif;
}

.bg-celeste{
  background-color: #006eff;
}

.btn-celeste{
  background-color: #006eff !important;
}

